{# Attach libraries #}
{% if not localgov_base_remove_js %}
  {{ attach_library('localgov_base/header-js') }}
{% endif %}

{% if cumbria_hide_highlights %}
  {{ attach_library('localgov_theme_cumbria/hide-highlights') }}
{% endif %}

<header class="lgd-header">
	<div class="lgd-container padding-horizontal">
		<div class="lgd-row">
			<div class="lgd-row__full">
				<div class="lgd-header__inner">

					{{ page.header }}

          {% if has_primary_menu or has_search or has_secondary_menu %}
						{#
							The "Header Toggles" section sets a number of buttons to activate
							- the primary menu/search regions on small screens, and
							- the secondary region on all screen sizes (region where we expect
								the services menu will be positioned).
						#}
						<div class="lgd-header__toggles">

							{% if has_primary_menu or has_search %}
								<button
									class="lgd-header__toggle lgd-header__toggle--primary"
									data-target="lgd-header__nav--primary"
									aria-controls="lgd-header__nav--primary"
									aria-expanded="false"
									aria-label="{{ 'Toggle Primary Navigation'|t }}"
								>
                  <svg role="img"
                       height="22"
                       width="22"
                       fill="#fff"
                       xmlns="http://www.w3.org/2000/svg"
                       aria-hidden="true"
                       focusable="false"
                       viewBox="0 0 448 512">
                    <path id="primary-closed" d="M436 124H12c-6.627 0-12-5.373-12-12V80c0-6.627 5.373-12 12-12h424c6.627 0 12 5.373 12 12v32c0 6.627-5.373 12-12 12zm0 160H12c-6.627 0-12-5.373-12-12v-32c0-6.627 5.373-12 12-12h424c6.627 0 12 5.373 12 12v32c0 6.627-5.373 12-12 12zm0 160H12c-6.627 0-12-5.373-12-12v-32c0-6.627 5.373-12 12-12h424c6.627 0 12 5.373 12 12v32c0 6.627-5.373 12-12 12z"/>
                    <path id="primary-open" d="M211.6 256l107.72 -107.72c6.23 -6.23 6.23 -16.34 0 -22.58l-25.03 -25.03c-6.23 -6.23 -16.34 -6.23 -22.58 0L164 208.4 56.28 100.68c-6.23 -6.23 -16.34 -6.23 -22.58 0L8.68 125.7c-6.23 6.23 -6.23 16.34 0 22.58L116.4 256 8.68 363.72c-6.23 6.23 -6.23 16.34 0 22.58l25.03 25.03c6.23 6.23 16.34 6.23 22.58 0L164 303.6l107.72 107.72c6.23 6.23 16.34 6.23 22.58 0l25.03 -25.03c6.23 -6.23 6.23 -16.34 0 -22.58L211.6 256z"/>
                  </svg>
                  <span class="visually-hidden">Menu</span>
								</button>
							{% endif %}
						</div>

						{% if has_primary_menu or has_search %}
							<div id="lgd-header__nav--primary" class="lgd-header__nav lgd-header__nav--primary">
								{% if has_primary_menu %}
									{{ page.primary_menu }}
								{% endif %}

								{% if has_search %}
									{{ page.search }}
								{% endif %}
							</div>
						{% endif %}

          {% endif %}

				</div>
			</div>
		</div>
	</div>
</header>
{% if has_secondary_menu %}
<div class="secondary-menu-container">
  <div class="lgd-container padding-horizontal">
    <div id="lgd-header__nav--secondary" class="lgd-header__nav lgd-header__nav--secondary">
      {{ page.secondary_menu }}
    </div>
  </div>
</div>
{% endif %}
